<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alzessmentslocal">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Alzessments"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FinishActivity"></activity>
        <activity
            android:name=".faqActivity"
            android:parentActivityName=".Home" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".Home" />
        <activity
            android:name=".mocaActivity"
            android:parentActivityName=".Home" />
        <activity
            android:name=".mmseActivity"
            android:parentActivityName=".Home" />
        <activity android:name=".Home" />
        <activity android:name=".NewUser" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>